.footer{
    background-color: #E5BA73;
    display:flex;
    justify-content:center;
    height:100px;
    width: 100%;
}

.footer span{
    font-weight: 500;
    padding: 20px;
    text-align: center;
}